.searchResults {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  .formRow {
    margin: 1rem auto;
  }
  ul {
    margin: 0 0 5rem 0;
    padding: 2rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0.5rem;
    min-width: 32rem;
    img {
      width: 20rem;
      height: 20rem;
    }
  }
  .loadMore {
    width: 100%;
    margin: 0 auto;
  }
}
