.cart-list {
  .button-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
  }
  .td-content {
    padding: 1rem;
  }
  .td-action {
    cursor: pointer;
    padding: 0.5rem;
    color: #d21919;
    font-size: 1.5rem;
  }
}
