.directory {
  height: 100vh;
  display: flex;
  min-width: 100vw;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;

  color: white;
  .item {
    display: flex;
    flex-direction: column;
    padding: 10rem;
    max-width: max-content;
    h1 {
      font-size: 2.5rem;
    }
    div {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .directory {
    display: flex;
    flex-direction: column;
    .item {
      width: 100%;
    }
  }
}
