header {
  height: 7rem;
  padding: 0 5rem;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
  .wrapper {
    height: 100%;
    margin: 0 1rem;
    display: flex;
    align-items: center;
  }
  .logo {
    width: 50%;
  }
  nav {
    width: 50%;
    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .active {
      border: 2px solid rgba(0, 0, 0, 0.54);
    }
  }
}
