footer {
  position: relative;
  bottom: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  background-color: white;
  .item {
    display: flex;
    align-items: center;
  }
}
