html {
  font-size: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
}
html,
body,
#root,
.App,
.homepage {
  min-height: 100vh;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: rgba(0, 0, 0, 0.54);
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
  border-radius: 5px;
  padding: 5px;
}

a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: rgba(25, 118, 210, 0.08);
  color: #1976d2;
}
.linkButton {
  color: #1976d2;
  background-color: white;
  border: 1px solid #1976d2;
}
.linkButton:hover {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: white;
  background-color: #1976d2;
  border: 1px solid white;
}
.Main {
  height: calc(100% - 7rem - 5rem);
  main {
    width: 100vw;
    max-width: 1250px;
    padding: 0 5rem;
    margin: 5rem auto;
  }
}
.adminLayout {
  height: calc(100vh - 7rem);

  .controlPanel {
    display: flex;
    width: 100%;
    min-height: 100%;
    border-bottom: 1px solid #d3d3d3;

    .sidebar {
      min-width: 25rem;
      min-height: 100%;
      border-right: 1px solid #d3d3d3;
    }

    .content {
      padding: 0 10px;
      width: calc(100vw - 25rem);
    }
  }
}

@media screen and (max-width: 600px) {
  .controlPanel {
    flex-direction: column;
    .content {
      min-width: 100vw;
    }
  }
}
